<div class="bg-light py-5 d-md-none ">
    <div class="container d-flex flex-column">
        <h4 class="text-center">Premium Pre-Engineered Steel Buildings.</h4>
        <h5 class="text-center">Competitive prices with unmatched quality. 
        </h5>
        <button type="button" class="w-75 align-self-center btn btn-dark carousel-overlay__button mt-2" data-toggle="modal"
        data-target=".modal-quote">
        Get Your Free Quote
    </button>
    </div>
</div>
