html,
body {
//   width: 100%;
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
  overflow-x: hidden;
}

body {
//   display: flex;
//   flex-direction: column;
}
.main-content {
//   flex: 1 0 auto;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
//   flex-shrink: 0;
}
$theme-colors: (
  // "primary": gray,
  'primary': #38475e,
  'secondary': #455773,
  // "success": ,
  // "info":    ,
  // "warning": ,
  'danger': #ff4136,
  "light": #DEE2E6,
  // "dark": ,
);

@import '../../node_modules/bootstrap/scss/bootstrap';
